body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1e232d;
    /* background-color: #282c34; */
    color: white;
}

a,
a:hover {
    color: unset;
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
    user-select: none;
}

.swiper-slide {
    text-align: left;
    font-size: 22px;
    background: #1e232d;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .sliderrr {
    height: 400px !important;
} */

.swiper-slide img {
    height: auto;
    border-radius: 6px;
    width: 100%;
}

@media (min-width: 768px) {
    .swiper-slide img {
        height: 300px;
        border-radius: 6px;
        width: auto;
    }
}


/* .swiper-pagination-bullet {
    width: 20px;
    height: 6px;
    display: inline-block;
    border-radius: 20%;
    background: white;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5);
} */


/* Image Upload Design */

.img-cont {
    width: 180px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.img-cont input {
    display: none;
}

.img-cont:hover {
    background-color: #36599e !important;
    color: white !important;
    transition: all 0.3s;
}


/* SideMenu CSS */

.sidemenu-cont {
    width: 200px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100vh;
}